@using Abstergo.Blazor.Data
@using Abstergo.Blazor.Services
@inject FavoriteService Service

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@ModalId">
    Add new @ItemTypeToAdd
</button>

<!-- Modal -->
<div class="modal fade" id="@ModalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new @ItemTypeToAdd</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating">
                        <input type="text" @bind="NewItem.Name" class="form-control" id="floatingName" placeholder="name">
                        <label for="floatingName">Name</label>
                    </div>
                    @if (ItemTypeToAdd == ItemType.Favorite)
                    {
                        <div class="form-floating mt-3">
                            <input type="text" @bind="NewItem.Url" class="form-control" id="floatingUrl" placeholder="https://">
                            <label for="floatingUrl">Url</label>
                        </div>
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @onclick="() => CreateNewItem()" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ItemType ItemTypeToAdd { get; set; }

    public Favorite NewItem { get; set; } = new Favorite();

    private string ModalId
    {
        get
        {
            return "Modal" + ItemTypeToAdd;
        }
    }

    protected async Task CreateNewItem()
    {
        NewItem.ItemType = ItemTypeToAdd;
        await Service.AddNewItem(NewItem);
        NewItem = new Favorite();
    }
}
