@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Abstergo</title>

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/Abstergo.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/font/bootstrap-icons.css">
</head>
<body>
    <div class="page-id">
        <div class="sidebar-id">
            <div class="top-row-side ps-3 navbar navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand navbar-brand-side" href="">Abstergo</a>
                    <button title="Navigation menu" class="navbar-toggler-side">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>

            <div>
                <nav class="flex-column">
                    <div class="nav-item-side px-3">
                        <a class="nav-link" href="/" Match="NavLinkMatch.All">
                            <span class="oi oi-side oi-home" aria-hidden="true"></span> Home
                        </a>
                    </div>
                    <div class="nav-item-side px-3">
                        <a class="nav-link" href="/counter">
                            <span class="oi oi-side oi-plus" aria-hidden="true"></span> Counter
                        </a>
                    </div>
                    <div class="nav-item-side px-3">
                        <a class="nav-link" href="/fetchdata">
                            <span class="oi oi-side oi-list-rich" aria-hidden="true"></span> Fetch data
                        </a>
                    </div>
                </nav>
            </div>
        </div>

        <main>
            <div class="top-row-id px-4 auth">
                @{
                    var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                }
                @if (result.Success)
                {
                    await Html.RenderPartialAsync("_LoginPartial");
                }
                else
                {
                    throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                    "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                    $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                }
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @RenderBody()
            </article>
        </main>

    </div>

    <environment include="Development">
        <script src="~/Identity/lib/jquery/dist/jquery.js"></script>
        <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                asp-fallback-src="~/Identity/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj">
        </script>
        <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>