@page
@model Abstergo.Pages.Link.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Favorite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Favorite.Name" class="control-label"></label>
                <input asp-for="Favorite.Name" class="form-control" />
                <span asp-validation-for="Favorite.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Favorite.Url" class="control-label"></label>
                <input asp-for="Favorite.Url" class="form-control" />
                <span asp-validation-for="Favorite.Url" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Favorite.IsFolder" /> @Html.DisplayNameFor(model => model.Favorite.IsFolder)
                </label>
            </div>
            <div class="form-group">
                <select name="Content" id="Content" multiple>
                    @foreach (var item in Model.Links)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
