[*.cs]

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = suggestion

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = suggestion

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = none

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = none

# SA1627: Documentation text should not be empty
dotnet_diagnostic.SA1627.severity = none

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = suggestion

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = silent

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = silent
